<!DOCTYPE html>
<html lang="en">
  <head>
    <title>THMcards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Daniel Knapp, Jan Kammer" />

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap-wysihtml5.css" rel="stylesheet" />
    <link href="/stylesheets/overrides.css" rel="stylesheet" />
  </head>

  <body>
    <div id="wrap">
      <div class="container">
        <div class="navbar" id="nav" style="margin-top:20px">
          <div class="navbar-inner">
            <a href="/" class="brand"><img src="/img/cards_logo.png" alt="THMcards Logo" /></a>
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="/#set/list">Karten</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Importieren</a></li>
                
              </ul>
              <div style="float:right">
                <ul class="nav">
                  <li style="float:right; margin-right:-20px"><a href="/logout" style="padding: 10px 20px; color:#bc0000; font-weight: 400; font-size:1.3em">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="main" class="row">
          <!-- AREA BETWEEN NAVIGATION AND FOOTER -->
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">&copy; 2013 THMcards</p>
      </div>
    </div>

    <!-- LIST LAYOUTS -->
    <script type="text/template" id="set-list-layout">
      <div class="span9 offset3">
        <h3 style="margin-bottom:20px">Meine Kartensätze</h3>
      </div>
      <div class="span3" id="set-list-sideBar-region"></div>
      <div class="span9" id="set-list-region"></div>
    </script>

    <script type="text/template" id="set-details-layout">
      <div class="span9 offset3">
        <h3 style="margin-bottom:20px">&nbsp;</h3>
      </div>
      <div class="span3">
        <div id="set-details-sideBar-region"></div>
        <div id="set-details-controls-region"></div>
      </div>
      <div class="span9" id="set-details-region"></div>
    </script>

    <script type="text/template" id="set-details-newcard-layout">
      <div class="span12">
        <h3 style="margin-bottom:20px">Neue Karte</h3>
      </div>
      <div class="span12" id="set-newcard-region"></div>
    </script>    

    <script type="text/template" id="set-details-item">
      <div class="box">
        <span class="clicktoflip">Click to flip</span>
        <div class="block"><div class="centered front"><%= front %></div><div class="centered back" style="display:none"><%= back %></div>
      </div>
    </script>

    <script type="text/template" id="set-details-collection">
      <div id="cardCarousel" class="carousel slide">

        <div class="carousel-inner">
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        <span class="carousel-itemcnt"></span>
        </div>
        
        
      </div>

    <tr>
        <td colspan="2"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>


      <table class="table table-bordered" style="margin:0 auto">
        <thead>
          <th>Lernen</th>
          <th colspan="2">Spielen</th>
        </thead>
        <tbody>
          <tr>
              <td width="33%">
                <div class="well" style="height:260px; margin-bottom:0">
                  <h4>Leitner</h4>
                  <hr />
                    <div class="progress" style="margin:10px 5px 74px;">
                      <div class="bar bar-success" style="width: 50%;">5</div>
                      <div class="bar bar-warning" style="width: 20%;">2</div>
                      <div class="bar bar-danger" style="width: 30%;">3</div>
                    </div>
                  <hr />
                  <button class="btn" style="width:100%">Lernen</button>
                  <button class="btn" style="margin-top:10px; width:100%">2. Button?</button>
                </div>
              </td>
              <td>
                <div class="well" style="height:260px; margin-bottom:0">
                  <h4>Meteor</h4>
                  <hr />
                  <div><img src="https://cdn1.iconfinder.com/data/icons/fatcow/32x32/cup_gold.png" /> <span class="pull-right" style="line-height:32px; font-family:'Georgia', serif;">3.548 Punkte</span></div>
                  <div style="margin:10px 0"><img src="https://cdn1.iconfinder.com/data/icons/fatcow/32/award_star_gold_3.png" /> <span class="pull-right" style="line-height:32px; font-family:'Georgia', serif;">1 / 10 Badges </span></div>
                  <hr />
                  
                  <button class="btn" style="width:100%">Üben</button>
                  
                  <button class="btn" style="margin-top:10px; width:100%">60-Sek Chellange</button>
                </div>
              </td>
              <td>
                <div class="well" style="height:260px; margin-bottom:0">
                  <h4>Jeopardy</h4>
                  <hr />
                  <div><img src="https://cdn1.iconfinder.com/data/icons/fatcow/32x32/cup_gold.png" /> <span class="pull-right" style="line-height:32px; font-family:'Georgia', serif;">3.548 Punkte</span></div>
                  <div style="margin:10px 0"><img src="https://cdn1.iconfinder.com/data/icons/fatcow/32/award_star_gold_3.png" /> <span class="pull-right" style="line-height:32px; font-family:'Georgia', serif;">1 / 10 Badges </span></div>
                  <hr />
                  <button class="btn" style="width:100%">Üben</button>
                  
                  <button class="btn" style="margin-top:10px; width:100%">60-Sek Chellange</button>
                </div>
              </td>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/template" id="set-list-item">
      <td><a href="#set/details/<%= name.replace(/[^a-zA-Z0-9-_]/g, '_') %>/<%= _id %>/"><%= name %></a></td>
      <td>5</td>
      <td>
        <div class="progress" style="margin:10px 5px">
          <div class="bar bar-success" style="width: 50%;"></div>
          <div class="bar bar-warning" style="width: 20%;"></div>
          <div class="bar bar-danger" style="width: 30%;"></div>
        </div>
      </td>
    </script>

    <script type="text/template" id="set-details-newcard"> 
      <!--div class="span5">
      asd
      </div>
      <div class="span5">
      asd
      </div-->    
      <div class="span5">
        <textarea id="front-textarea" placeholder="Vorderseite" style="width:100%; height:200px; margin-top:10px"></textarea>
          
      </div>
      <div class="span5 offset1">
        <textarea id="back-textarea" placeholder="Rückseite" style="width:100%; height:200px; margin-top:10px"></textarea>
      </div>
      <span class="span11" style="text-align:center"><button class="btn btn-large cancel">Abbrechen</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-success btn-large" data-loading-text="Speichere Karte...">Karte speichern</button></span>
    </script>

    <script type="text/template" id="set-details-sideBar"> 
      <h4><%= name %></h4>
      <hr />
      <span style="font-family:'Georgia'; font-style:italic"><%= description %></span>
      <hr />
      <span class="nav-header" style="padding-left:0">Erstellt von</span>
      <span style="font-family:'Georgia'"><a href="/#user/<%=owner%>"><%= owner %></a> am <%= new Date(created).format('d.m.y') %></span>
    </script>

    <script type="text/template" id="set-details-controls">
      <button class="btn btn-primary" style="width:100%">Neue Karte erstellen</button>
      <button class="btn" style="width:100%; margin-top:10px">Kartensatz editieren</button>
    </script>

    <script type="text/template" id="set-list-sideBar">  
      <div class="form-inline">
        <input class="input-medium" type="text" placeholder="Neuer Kartensatz" /> <a class="btn saveSet" href="#">Save</a>
      </div>
      <hr />
      <ul class="nav nav-list">
        <li class="nav-header">Kategorie</li>
        <li class="active"><a href="#">Alle</a></li>
        <li><a href="#">ARSnova</a></li>
        <li><a href="#">Nicht Gelernt</a></li>
        <li><a href="#">Favorit</a></li>
      </ul>
      <div id="newSetModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Neuen Kartensatz anlegen</h3>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="newSetName">Name</label>
                <div class="controls">
                  <input type="text" id="newSetName" placeholder="Name">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="newSetDescription">Beschreibung</label>
                <div class="controls">
                  <textarea rows="3" id="newSetDescription" placeholder="Beschreibung"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="newSetDescription">Sichtbar für</label>
                <div class="controls">
                  <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active" value="private">mich</button>
                    <button type="button" class="btn" value="public">alle</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
            <button class="btn btn-primary" data-loading-text="Speichere Deck...">Kartensatz anlegen</button>
          </div>
        </div>
    </script>

    <script type="text/template" id="set-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Karten</th>
          <th>Fortschritt</th>
        </tr>
      </thead>
      <tbody></tbody>
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.1-bundled/backbone.marionette.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/javascripts/Cards.js"></script>
    
    <script type="text/javascript" src="/javascripts/entities/Set.js"></script>
    <script type="text/javascript" src="/javascripts/entities/Card.js"></script>

    <script type="text/javascript" src="/javascripts/modules/Set.List.ListView.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.List.SideBar.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Controller.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.List.Layout.js"></script>

    <script type="text/javascript" src="/javascripts/modules/Set.Details.Layout.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Details.SideBar.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Details.DetailsView.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Details.NewCardView.js"></script>

    <script type="text/javascript" src="/javascripts/Date.format.min.js"></script>

    <script type="text/javascript" src="/javascripts/wysihtml5-0.3.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-wysihtml5.js"></script>

    <script type="text/javascript">
      $(function(){
        Cards.start();
      })
    </script>
  </body>
</html>