<!DOCTYPE html>
<html lang="en">
  <head>
    <title>THMCards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Daniel Knapp, Jan Kammer" />

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="/stylesheets/overrides.css" rel="stylesheet" />
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">THMCards</a>
          <div class="nav-collapse collapse"><
            <ul id="nav-items" class="nav"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="app">
        <div class="row">
          <div class="span12">
            <ul id="nav" class="breadcrumb"></ul>
          </div>
        </div>
        <div id="deck-list" class="span12">

        </div>
      </div>
    </div>

    <script id="deck-list-template" type="text/template">
      <td><a href="#"><%=name%></a></td>
      <td><button class="btn btn-info">Click me</button></td>
    </script>

    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/base.js"></script>
    <script type="text/javascript" src="/javascripts/nav.js"></script>
    <script type="text/javascript" src="/javascripts/deck.js"></script>
  </body>
</html>