<!DOCTYPE html>
<html lang="en">
  <head>
    <title>THMcards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Daniel Knapp, Jan Kammer" />

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!--link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" /-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/non-responsive.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap-wysihtml5.css" rel="stylesheet" />
    <link href="/stylesheets/overrides.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/css3pie/1.0.0/PIE.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="wrap">
      <div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#set/list"><img src="/img/cards_logo.png" alt="THMcards Logo" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul id="navbar" class="nav navbar-nav">
            <li id="navbar-ownsets"><a href="#set/list">Meine Kartensätze</a></li>
            <li id="navbar-pool"><a href="#pool">Pool</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><input type="text" class="form-control" placeholder="Suche" id="input-search" /></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="usr-name"></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#" id="usr-profile">Mein Profil</a></li>
                <li class="divider"></li>
                <li><a href="/logout" style="color:#D9534F">Logout</a></li>
                <!--li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li-->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

        <div id="main" class="row">
          <!-- AREA BETWEEN NAVIGATION AND FOOTER -->
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">&copy; 2013 THMcards</p>
      </div>
    </div>


    <script type="text/template" id="pool-category-layout">
      <div class="row">
        <div class="col-md-12">
          <h3 id="pool-category-layout-headline" style="margin-bottom:20px">w</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="pool-category-region"></div>
      </div>
    </script>

    <script type="text/template" id="pool-category-list">

    </script>

    <script type="text/template" id="pool-category-list-item">
      <span class="badge"><%= count %></span> <a href="#pool/<%= name %>"><%= name %></a>
    </script>

    <script type="text/template" id="pool-category-set-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Beschreibung</th>
          <th>Erstellt von</th>
        </tr>
      </thead>
      <tbody></tbody>
    </script>

    <script type="text/template" id="pool-category-set-list-item">
      <td><a href="#set/details/<%= name.replace(/[^a-zA-Z0-9-_]/g, '_') %>/<%= _id %>/" class="pool-category-set-details-link"><%= name %></a></td>
      <td><%= description %></td>
      <td><a href="#profile/<%= owner %>" class="pool-category-set-owner-link"><%= owner %></a></td>
    </script>

    <!-- LIST LAYOUTS -->
    <script type="text/template" id="set-list-layout">
      <!--div class="row">
        <div class="col-md-9 col-md-offset-3">
          <h3 style="margin-bottom:20px"></h3>
        </div>
      </div-->
      <div class="row">
        <div class="col-md-3" id="set-list-sideBar-region"></div>
        <div class="col-md-9" id="set-list-region"></div>
      </div>
    </script>

    <script type="text/template" id="set-details-layout">
      <!--div class="row">
        <div class="col-md-9 col-md-offset-3">
          <h3 style="margin-bottom:20px">&nbsp;</h3>
        </div>
      </div-->
      <div class="row">
        <div class="col-md-3">
          <div id="set-details-sideBar-region"></div>
          <div id="set-details-controls-region"></div>
        </div>
        <div class="col-md-9" id="set-details-region"></div>
      </div>
    </script>

    <script type="text/template" id="set-details-newcard-layout">
      <div class="col-md-12">
        <h3 style="margin-bottom:20px">Neue Karte</h3>
      </div>
      <div class="col-md-12" id="set-newcard-region"></div>
    </script> 

    <script type="text/template" id="set-details-editcard-layout">
      <div class="col-md-12">
        <h3 style="margin-bottom:20px">Karte bearbeiten</h3>
      </div>
      <div class="col-md-12" id="set-editcard-region"></div>
    </script>       

    <script type="text/template" id="set-details-item">
      <div class="box" data-id="<%= _id %>">
        <span class="clicktoflip">Click to flip</span>
        <a class="btn-deleteCard" href="#deleteCard">
          <i class="glyphicon glyphicon-ban-circle"></i>
        </a>
        <a class="btn-editCard" href="#editCard">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <div class="block"><div class="centered front"><%= front.text %></div><div class="centered back" style="display:none"><%= back.text %></div>
      </div>
    </script>

    <script type="text/template" id="set-details-item-empty">
      <div class="box">
        <div class="block"><div class="centered front" style="font-size:2em">Keine Karten vorhanden</div>
      </div>
    </script>

    <script type="text/template" id="set-details-collection">
      <div id="cardCarousel" class="carousel slide">
        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner"></div>


        <a class="left carousel-control" href="#cardCarousel">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#cardCarousel">
          <span class="icon-next"></span>
        </a>
      </div>


      <div class="row">
        <div class="col-md-12"><h4>&nbsp</h4></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="well well-sm" style="margin-bottom:0; min-height:244px">
            <h4>Leitner</h4>
            <hr />
              
            <hr />
            <button class="btn btn-default learn" style="width:100%">Freies Lernen</button>
            <button class="btn btn-default" style="margin-top:10px; width:100%">Lernvorschläge</button>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="well well-sm" style="margin-bottom:0">
                <h4>Meteor</h4>
                <hr />
                <div><img src="https://cdn1.iconfinder.com/data/icons/fatcow/32x32/cup_gold.png" /> <span class="pull-right" style="line-height:32px; font-family:'Georgia', serif;">3.548 Punkte</span></div>
                <div style="margin:10px 0"><img src="https://cdn1.iconfinder.com/data/icons/fatcow/32/award_star_gold_3.png" /> <span class="pull-right" style="line-height:32px; font-family:'Georgia', serif;">1 / 10 Badges </span></div>
                <hr />
                
                <button class="btn btn-primary play-meteor" style="width:100%">Spielen</button>
                
                <button class="btn btn-default" style="margin-top:10px; width:100%">60-Sek Challenge</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="well well-sm" style="margin-bottom:0">
                <h4>Jeopardy</h4>
                <hr />
                <div><img src="https://cdn1.iconfinder.com/data/icons/fatcow/32x32/cup_gold.png" /> <span class="pull-right" style="line-height:32px; font-family:'Georgia', serif;">3.548 Punkte</span></div>
                <div style="margin:10px 0"><img src="https://cdn1.iconfinder.com/data/icons/fatcow/32/award_star_gold_3.png" /> <span class="pull-right" style="line-height:32px; font-family:'Georgia', serif;">1 / 10 Badges </span></div>
                <hr />
                <button class="btn btn-default" style="width:100%">Üben</button>
                
                <button class="btn btn-default" style="margin-top:10px; width:100%">60-Sek Challenge</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="set-list-item">
      <td>
        <% if(cardCnt > 0) { %><span class="badge pull-right"><%= cardCnt %></span><% } %>
        <a href="#set/details/<%= name.replace(/[^a-zA-Z0-9-_]/g, '_') %>/<%= _id %>/"><%= name %></a>
      </td>
      <td><%= description %></td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
          <span class="sr-only">80% Complete (danger)</span>
        </div>
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
            <span class="sr-only">60% Complete (warning)</span>
          </div>
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          <span class="sr-only">40% Complete (success)</span>
        </div>
        </div>
      </td>
    </script>

    <script type="text/template" id="set-details-newcard"> 
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><textarea class="form-control" id="front-textarea" placeholder="Vorderseite" style="width:440px; height:200px; margin:10px auto 0"></textarea></td> 
            <td><textarea class="form-control" id="back-textarea" placeholder="Rückseite" style="width:440px; height:200px; margin:10px auto 0"></textarea></td> 
          </tr>
          <tr>
            <td>
              <div class="input-append">
                <div class="input-group">
                <input class="span4 form-control pull-left" style="" id="set-details-newcard-input-pic-front-search" type="text" placeholder="Link oder Suchbegriff eingeben">
                  <span class="input-group-btn"><button class="btn btn-pictureSearch btn-default btn-info" type="button" id="set-details-newcard-btn-pic-front-seach">Bildsuche</button></span>
                </div>
              </div>
            </td>
            <td>
              <div class="input-append">
                <div class="input-group">
                <input class="span4 form-control pull-left" id="set-details-newcard-input-pic-back-search" type="text" placeholder="Link oder Suchbegriff eingeben">
                <span class="input-group-btn">
                <button class="btn btn-pictureSearch btn-default btn-info" type="button" id="set-details-newcard-btn-pic-back-seach">Bildsuche</button>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2"><div style="margin:20px auto; width:412px"><button class="btn btn-default btn-large cancel" style="width:200px">Abbrechen</button>&nbsp;&nbsp;&nbsp;<button style="width:200px" class="btn btn-success btn-large" data-loading-text="Speichere Karte...">Karte speichern</button></div></td>
          </tr>
        </tbody>
      </table>

      <div id="pictureSearchModal" class="modal fade pictureSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Bild einfügen</h4>
            </div>
            <div class="modal-body" id="pictureSearchModal-body">

            </div>
            <div class="modal-footer" id="pictureSearchModal-footer">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </script>

    <script type="text/template" id="set-details-editcard"> 
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><textarea class="form-control" id="editcard-front-textarea" placeholder="Vorderseite" style="width:440px; height:200px; margin:10px auto 0"></textarea></td> 
            <td><textarea class="form-control" id="editcard-back-textarea" placeholder="Rückseite" style="width:440px; height:200px; margin:10px auto 0"></textarea></td> 
          </tr>
          <tr>
            <td>
              <div class="input-append">
                <div class="input-group">
                <input class="span4 form-control pull-left" style="" id="set-details-editcard-input-pic-front-search" type="text" placeholder="Link oder Suchbegriff eingeben">
                  <span class="input-group-btn"><button class="btn btn-pictureSearch btn-default btn-info" type="button" id="set-details-editcard-btn-pic-front-seach">Bildsuche</button></span>
                </div>
              </div>
            </td>
            <td>
              <div class="input-append">
                <div class="input-group">
                <input class="span4 form-control pull-left" id="set-details-editcard-input-pic-back-search" type="text" placeholder="Link oder Suchbegriff eingeben">
                <span class="input-group-btn">
                <button class="btn btn-pictureSearch btn-default btn-info" type="button" id="set-details-editcard-btn-pic-back-seach">Bildsuche</button>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2"><div style="margin:20px auto; width:742px"><button style="width:200px; margin-right:130px" class="btn btn-danger btn-large" data-loading-text="Lösche Karte...">Karte löschen</button><button class="btn btn-default btn-large cancel" style="width:200px">Abbrechen</button>&nbsp;&nbsp;&nbsp;<button style="width:200px" class="btn btn-success btn-large" data-loading-text="Speichere Karte...">Karte speichern</button></div></td>
          </tr>
        </tbody>
      </table>

      <div id="pictureSearchModal" class="modal fade pictureSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Bild einfügen</h4>
            </div>
            <div class="modal-body" id="editcard-pictureSearchModal-body">

            </div>
            <div class="modal-footer" id="editcard-pictureSearchModal-footer">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </script>

    <script type="text/template" id="set-details-sideBar"> 
      <h4 style="margin:0"><%= name %></h4>
      <hr />
      <span style="font-family:'Georgia'; font-style:italic"><%= description %></span>
      <hr />
      <span class="nav-header" style="padding-left:0">Erstellt von</span>
      <span style="font-family:'Georgia'"><a href="/#profile/<%=owner%>"><%= owner %></a> am <%= new Date(created).format('d.m.y') %></span>
    </script>

    <script type="text/template" id="set-details-controls">
      <button class="btn btn-primary newCard" id="set-details-controls-btn-newCard" style="width:100%">Neue Karte erstellen</button>
      <button class="btn btn-default editSet" style="width:100%; margin-top:10px">Kartensatz editieren</button>

      <div class="modal fade" id="editSetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Kartensatz editieren</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="editSetName">Name</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" id="editSetName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="editSetDescription">Beschreibung</label>
                  <div class="col-md-9">
                    <textarea class="form-control" rows="3" id="editSetDescription"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="editSetCategory">Kategorie</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" id="editSetCategory">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="editSetDescription">Sichtbar für</label>
                  <div class="controls col-md-9">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn private btn-default active">
                        <input type="radio" name="options" value="private" id="edit_visibility_private"> mich
                      </label>
                      <label class="btn public btn-default">
                        <input type="radio" name="options" value="public" id="edit_visibility_public"> alle
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
              <button class="btn btn-danger pull-left" data-loading-text="Lösche Deck...">Kartensatz löschen</button>
              <button class="btn btn-primary" data-loading-text="Speichere Deck...">Kartensatz speichern</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </script>

    <script type="text/template" id="set-list-sideBar">
      <div class="input-group">
        <input class="form-control" type="text" id="new-set-input" placeholder="Neuer Kartensatz" />
        <span class="input-group-btn">
          <button class="btn btn-primary saveSet" type="button"><i class="glyphicon glyphicon-plus"></i></button>
        </span>
      </div>

      <hr />
      <ul class="nav nav-list">
        <li class="nav-header">Kategorie</li>
        <li class="active"><a href="#set/list/created" name="set-created">Erstellt</a></li>
        <li><a href="#set/list/created" name="set-learned">Gelernt</a></li>
      </ul>
      <div class="modal fade" id="newSetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Neuen Kartensatz anlegen</h4>
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="newSetName">Name</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" id="newSetName" placeholder="Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="newSetDescription">Beschreibung</label>
                  <div class="col-md-9">
                    <textarea class="form-control" rows="3" id="newSetDescription" placeholder="Beschreibung"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="newSetCategory">Kategorie</label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" id="newSetCategory" placeholder="Informatik, Jura, Wirtschaft, ...">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="newSetDescription">Sichtbar für</label>
                  <div class="controls col-md-9">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default active">
                        <input type="radio" name="options" value="private" id="visibility_private"> mich
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="options" value="public" id="visibility_public"> alle
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
              <button class="btn btn-primary" data-loading-text="Speichere Deck...">Kartensatz anlegen</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </script>

    <script type="text/template" id="set-list">
      <thead>
        <tr>
          <th>Name</th>
          <th width="40%">Beschreibung</th>
          <th width="25%">Fortschritt</th>
        </tr>
      </thead>
      <tbody></tbody>
    </script>

    <script type="text/template" id="game-meteor-layout">
      <div class="row">
        <div class="col-md-12">
          <div id="game-meteor-pitch-region"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="game-meteor-sideBar-region"></div>
        </div>
      </div>
    </script>

    <script type="text/template" id="game-meteor-sideBar">
      <div class="row">

      </div>
    </script>

    <script type="text/template" id="game-meteor-pitch">
      <div id="meteor-pitch">
        <div id="meteor-countdown">
          <div id="meteor-countdown-welcome">
            <div class="meteor-countdown-back">&nbsp;</div>
            <div class="meteor-welcome-front">  
              <span>Meteor</span>
              <div class="meteor-welcome-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
              <div><a href="#" class="btn btn-primary btn-lg">Start</a></div>
            </div>
          </div>
          <span id="meteor-countdown-counter" style="padding-top:150px; display:block"></span>
        </div>
        <div id="meteor-statistics" style="display:none">
          <div id="meteor-lifes"><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart"></span></div>
          <div id="meteor-level">Level <span>1</span></div>
          <div id="meteor-points">0</div>
        </div>
      </div>
      <div style="margin:20px 0">
        <input type="input" class="form-control meteor-answer" disabled="disabled" placeholder="Lösung eingeben" />
      </div>
      <div class="playcardcontainer" style="display: none"></div>
      
      <a href="#" class="btn btn-default btn-danger pull-right">Stop</a>
      <a href="#" class="btn btn-default btn-info pull-right">Resume</a>
      <input type="text" class="form-control" id="itemcnt" placeholder="3" />
      <input type="text" class="form-control" id="itemspeed" placeholder="1000" />


      
      <div class="modal fade" id="meteor-answer-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Lösung eingeben</h4>
            </div>
            <div class="modal-body">
              <div class="panel panel-info">
                <div class="panel-heading">Frage</div>
                <div class="panel-body">
                  <p id="meteor-answer-modal-front"></p>
                </div>
              </div>

              <div class="panel panel-success">
                <div class="panel-heading">Korrekte Antwort</div>
                <div class="panel-body">
                  <p id="meteor-answer-modal-back"></p>
                </div>
              </div>
              <input type="text" placeholder="Korrekte Antwort eingeben" class="form-control" id="meteor-answer-modal-input" />
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-success" disabled="disabled">Lösen</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


    </script>

    <script type="text/template" id="game-meteor-playcard">
      <span data-answer="<%= back.text_plain.toLowerCase() %>" data-cardid="<%= _id %>"><%= front.text_plain %></span>
    </script>

    <!--Learn -->
    <script type="text/template" id="set-learn-layout">
      <div class="row">
        <div class="col-md-3">
          <div id="set-learn-sideBar-region"></div>
          <div id="set-learn-controls-region"></div>
        </div>
        <div class="col-md-9">
          <div id="set-learn-region"></div>
        </div>
      </div>
    </script>

    <script type="text/template" id="set-learn-sideBar"> 
      <h4 style="margin:0"><%= name %></h4>
      <hr />
      <span style="font-family:'Georgia'; font-style:italic"><%= description %></span>
      <hr />
      <span class="nav-header" style="padding-left:0">Erstellt von</span>
      <span style="font-family:'Georgia'"><a href="/#user/<%=owner%>"><%= owner %></a> am <%= new Date(created).format('d.m.y') %></span>
    </script>

    <script type="text/template" id="set-learn-controls">
      <button class="btn btn-default learn-box" title="1" style="width:100%;">Fach 1</button>
      <button class="btn btn-default learn-box" title="2" style="width:100%; margin-top:10px">Fach 2</button>
      <button class="btn btn-default learn-box" title="3" style="width:100%; margin-top:10px">Fach 3</button>
      <button class="btn btn-default learn-box" title="4" style="width:100%; margin-top:10px">Fach 4</button>
      <button class="btn btn-default learn-box" title="5" style="width:100%; margin-top:10px">Fach 5</button>
    </script>


    <script type="text/template" id="set-learn-collection">
      <div id="cardCarousel" class="carousel slide" style="display:none">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner"></div>
      </div>

      <div id="learn-navigation">
            <button class="btn btn-primary answer card-success" title="success" style="width:100%; margin-top:10px; display:none">Gewusst</button>
            <button class="btn btn-default answer card-fail" title="failed" style="width:100%; margin-top:10px; display:none">Nicht gewusst</button>
      </div>

      <div class="box learn-endscreen" style="display:none">
        <div class="block">
          <div class="centered front" style="font-size:2em">
                Lerneinheit erfolgreich beendet
          </div>
          <div class="centered front" style="font-size:1.2em; width:500px">
                Wähle ein weiteres Fach oder gehe zurück zur Hauptseite</div>
          </div>
        </div>
      </div>

      <div class="box learn-startscreen">
        <div class="block">
          <div class="centered front" style="font-size:2em">
                Wähle ein Fach auf der linken Seite
          </div>
          <div class="centered front" style="font-size:1.2em">
                Mehr Infos</div>
          </div>
        </div>
      </div>

      <div class="learn-cardHelptext" style="display:none">
            <span>Klicke auf die Karte um Sie zu drehen</span>
      </div>
    </script>

    <script type="text/template" id="set-learn-item">
      <div class="box" data-id="<%= _id %>">
        <span class="clicktoflip">Click to flip</span>
        <div class="block"><div class="centered front"><%= front.text %></div><div class="centered back" style="display:none"><%= back.text %></div>
      </div>
    </script>

    <script type="text/template" id="set-learn-item-empty">
      <div class="box">
        <div class="block"><div class="centered front" style="font-size:2em">Keine Karten vorhanden</div>
      </div>
    </script> 

    <script type="text/template" id="profile-layout">
      <div class="row">
        <div class="col-md-12">
          <h3 style="margin-bottom:20px">Profil</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" id="profile-info-region"></div>
      </div>

      <div class="row">
        <div class="col-md-12" id="profile-score-region"></div>
      </div>

      <div class="row">
        <div class="col-md-12" id="profile-set-region"></div>
      </div>

      <div class="row">
        <div class="col-md-12" id="profile-badge-region"></div>
      </div>
    </script>

    <script type="text/template" id="profile-info-item">
      <div class="panel-heading">
        <h3 class="panel-title">Hallo, <%= name || username %></h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-4 control-label">Benutzername</label>
            <div class="col-md-8">
              <p class="form-control-static"><%= username %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Angemeldet via</label>
            <div class="col-md-8">
              <p class="form-control-static"><%= provider.charAt(0).toUpperCase() + provider.slice(1) %></p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputNameProfile" class="col-md-4 control-label">Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="inputNameProfile" placeholder="Wie heißt du?" value="<%= name %>">
            </div>
          </div>
        </form>

        <!--img src="<%= gravatarUrl %>" width="40" height="40" /> <%= username %>

        <a href="#">BADGE!!!</a-->
      </div>
    </script>

    <script type="text/template" id="profile-score-item">
      <div class="panel-heading">
        <h3 class="panel-title">Meteor Statistiken</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-6 control-label">Gesamtpunktzahl</label>
            <div class="col-md-6">
              <p class="form-control-static"><%= score %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-6 control-label">Gespielt</label>
            <div class="col-md-6">
              <p class="form-control-static"><%= gameCnt %> <% if(gameCnt > 0) { %>Spiele<%} else {%>Spiel<%} %> <small class="text-muted">(Ø <%= (score/gameCnt).toFixed(1) %>)</small></p>
            </div>
          </div>
        </form>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <th>Kartensatz</th>
          <th>Pers. Highscore</th>
          <th>Pos.</th>
          <th>Highscore</th>
        </thead>
        <tbody>
          <% 
            if(games.length > 0) {
              _.each(games, function(game){
          %>
                <tr><td><a href="#set/details/<%= game.setName %>/<%= game.setId %>" class="set-link" data-set-id="<%= game.setId %>"><%= game.setName %></a></td><td><%= game.personalHighscore %></td><td><%= game.position %></td><td><%= game.overallHighscore %></td></tr>
          <%
              })
            }
          %>
        </tbody>
      </table>
    </script>

    <script type="text/template" id="profile-badge-list">

    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.1-bundled/backbone.marionette.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.pause.min.js"></script>
    <!--script type="text/javascript" src="javascripts/jquery.timer.js"></script-->


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!--script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>

    <script type="text/javascript" src="/javascripts/Cards.js"></script>
    
    <script type="text/javascript" src="/javascripts/entities/Set.js"></script>
    <script type="text/javascript" src="/javascripts/entities/Card.js"></script>
    <script type="text/javascript" src="/javascripts/entities/User.js"></script>
    <script type="text/javascript" src="/javascripts/entities/Personalcard.js"></script>
    <script type="text/javascript" src="/javascripts/entities/Category.js"></script>
    <script type="text/javascript" src="/javascripts/entities/Score.js"></script>

    <script type="text/javascript" src="/javascripts/modules/Pool.Controller.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Pool.CategoryView.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Pool.CategorySetView.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Pool.Layout.js"></script>

    <script type="text/javascript" src="/javascripts/modules/Set.List.ListView.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.List.SideBar.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Controller.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.List.Layout.js"></script>

    <script type="text/javascript" src="/javascripts/modules/Set.Details.Layout.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Details.SideBar.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Details.DetailsView.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Details.NewCardView.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Details.EditCardView.js"></script>

    <script type="text/javascript" src="/javascripts/modules/Set.Learn.Layout.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Learn.SideBar.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Set.Learn.DetailsView.js"></script>

    <script type="text/javascript" src="/javascripts/modules/Profile.Layout.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Profile.Controller.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Profile.InfoView.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Profile.ScoreView.js"></script>

    <script type="text/javascript" src="/javascripts/modules/Game.Meteor.Layout.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Game.Controller.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Game.Meteor.SideBar.js"></script>
    <script type="text/javascript" src="/javascripts/modules/Game.Meteor.PitchView.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/javascripts/Date.format.min.js"></script>

    <script type="text/javascript" src="/javascripts/wysihtml5-0.3.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-wysihtml5.js"></script>

    <script src="http://beta.openbadges.org/issuer.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      $(function(){
        Cards.start();
      })
    </script>
  </body>
</html>