html,
body {
  height: 100%;
  background-image: url('/img/light_wool.png');
}

@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
      body {
          background: url('/img/light_wool@2X.png') no-repeat;
          background-size: 410px 410px;
      }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #F8F8F8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



#wrap &gt; .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.navbar .divider-vertical {
    background-color: #D3D6DD;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    height: 16px;
    margin: 14px 2px 0;
    overflow: hidden;
    width: 1px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.not-there {
  display: none;
}

.special a {
  color :#f1961d;
}
.document {
  height : 80px;
  width : 120px;
  overflow:hidden;
  border-left: solid 9px #767e49;
}
.document p{
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
}
#ed {
  height : 75%;
  width : 49%;
  border: 1px solid #ccc;
}
#document-summary-list{
  list-style-image:url('/img/document-small.png');
}
#document-summary-list li{
  overflow : hidden;
}

.table th, .table td {
  background-color: #fff;
}

.box
{
  font-family:'Georgia', serif;
  position: relative;
  height: 270px;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url('/img/card_background.png');
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box:before, .box:after
{
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.box:after
{
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

#cardCarousel ol.carousel-indicators {
  left: 120px;
  top: 15px;
}

#cardCarousel ol.carousel-indicators li.active {
  background-color: #000;
}

#cardCarousel ol.carousel-indicators li {
  background-color: #c0c0c0;
}

/* This parent can be any width and height */
.block {
  text-align: center;
  height: 100%;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  font-size: 2em
}

.navbar .brand {
  padding: 5px 20px;
}

.navbar .brand img {
  width: 142px;
  height: 30px;
}

.front {
  font-size:3em;
}

.back, .front {
  line-height: 1.4em;
}

.clicktoflip {
  color:#666; 
  position: absolute; 
  right: 10px; 
  top: 13px; 
  font-style: italic;
}

.carousel-control {
    margin-top: -20px;
    top: 50%;
    z-index: 5;
    border: 0;
    border-radius: 0;
    margin: 0;
    opacity: 0.3;
}

.carousel-inner {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.carousel-control:hover {
  opacity: 0.5;
}

.carousel-itemcnt {
  bottom: 0; 
  height: 20px; 
  position: absolute; 
  color: #000; 
  font-family: 'Georgia', serif; 
  text-align: center; 
  width: 100%; 
  z-index: 1;
}
